{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'gtp/chatbot.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <style>
        
    </style>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            memory chatbot
        </div>
        <div class="chat-messages" id="chat-messages">
            <!-- Messages will be appended here -->
        </div>
        <div class="chat-input">
            <input type="text" id="message-input" placeholder="Type a message..." onkeypress="handleKeyPress(event)">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

    
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });

    function sendMessage() {
        const messageInput = document.getElementById('message-input');
        const messageText = messageInput.value;
        if (messageText.trim() !== '') {
            data = {'question': messageText, 'type':'text'}
            $.ajax({
                type:'POST',
                url:'memory_chatbot',
                data:data,
                success:function(result){
                    //console.log("data pass success",result);
                    //$('#result').text();
                    appendMessage('bot', result);
                },
                error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); 
                }
            });
            appendMessage('user', messageText);
            messageInput.value = '';
            
        } else {
            alert('질문을 입력하세요.')
        }
    }

    function appendMessage(sender, text) {
        const messageContainer = document.createElement('div');
        messageContainer.classList.add('message', sender);
        const messageElement = document.createElement('p');
        messageElement.textContent = text;
        messageContainer.appendChild(messageElement);
        document.getElementById('chat-messages').appendChild(messageContainer);
        messageContainer.scrollIntoView();
    }

    function handleKeyPress(event) {
        if (event.key === 'Enter') {
            sendMessage();
        }
    }
    
    
    </script>
