body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

header h1, header h2 {
    margin: 0;
    padding: 0;
}

header a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #575757;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.container h2 {
    color: #4CAF50;
}

.container p {
    font-size: 16px;
    line-height: 1.6;
}

.extra-content {
    text-align: center;
    margin-bottom: 20px;
}

.extra-content h2 {
    color: #4CAF50;
}

.extra-content img {
    max-width: 100px;
    margin: 10px 0;
}

.extra-content a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.extra-content a:hover {
    color: #388E3C;
}

footer {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: auto;
}
