<!doctype html>
{% load static %}
<html>
    <head>        
        <title>Django</title>
        <meta charset="utf-8">    
        <link rel="stylesheet" href="{% static 'base.css' %}" />    
    </head>
    <body>
        <h1><a href="/">Django</a></h1>
        <ol>
            <li><a href="/chatgpt/">단발성 질문, 답변 페이지</a></li>
            <li><a href="/chatgpt/simple_chatbot">대화형 챗봇 (질문 답변이 이어지도록 구성)</a></li>
            <li><a href="/chatgpt/memory_chatbot">대화형 챗봇 (Memory & Chain)</a></li>
        </ol>
        <h2>Django</h2>
        <p><a href="https://www.djangoproject.com/" target="_blank">Django</a>는 Python으로 작성된 오픈 소스 웹 프레임워크로, 빠르고 쉬운 웹 개발을 가능하게 합니다.</p>
    </body>
